* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #040405;
}
#heading {
    padding: 16px 200px;
    display: flex;
    border-bottom: 1px solid #003004;
    margin-bottom: 112px;
    justify-content: center;
}
.forc {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#naving > a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}
#naving {
    display: flex;
    gap: 16px;
}
#button {
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    color: #000;
    border-radius: 24px;
    background-color: #00FF1A;
}
.levelone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 151px;
    margin-bottom: 112px;
}
.levelone_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    max-width: 564px;
    width: 100%;
}
.levelone_first {
    display: flex;
    align-items: center;
    gap: 12px;
}
.levelone_first > p {
    color: #FFF;
    font-size: 16px;
}
.levelone_earn > p {
    font-size: 72px;
    color: #FFF;
}
.levelone_deposit {
    color: #7A7A7A;
    font-size: 20px;
}
.levelone_buttons {
    display: flex;
    gap: 16px;
}
#stake {
    max-width: 132px;
    width:100%;
    padding: 12px 24px;
    border-radius: 24px;
    background: #00FF1A;
    gap: 10px;
    color: #000;
    font-size: 16px;
}
#howit {
    max-width: 150px;
    width: 100%;
    padding: 12px 24px;
    background-color: #000;
    border: 1px solid #00FF1A;
    color: #FFF;
    font-size: 16px;
    border-radius: 24px;
    gap: 10px;
}
.leveltwo {
    max-width: 815px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    border-top: 1px solid #00FF1A;
}
.smols > h3 {
    color: #FFF;
    font-size: 32px;
}
.smols > p {
    color: #7A7A7A;
    font-size: 20px;
}
.forcc {
    max-width: 1040px;
    width: 100%;
    margin-bottom: 112px;
}

#fullbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.levelthree {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 112px;
}
.levelthree_img {
    display: flex;
    order: -1;
}
.levelthree_right {
    max-width: 567px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.withdrawalsdiv {
    display: flex;
    gap: 16px;
}
.withdrawalstext {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.withdrawalstext > h3 {
    color: #FFF;
    font-size: 32px;
}
.withdrawalstext > p {
    color: #7A7A7A;
    font-size: 16px;
}
.rectangle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.levelfour {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
    gap: 32px;
}
.levelfour_first {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.levelfour_first > p {
    font-size: 16px;
    color: #FFF;
}
.levelfour_second {
    display: flex;
    justify-content: center;
}
.levelfour_second > h3 {
    font-size: 72px;
    color: #FFF;
}
.levelfour_third {
    display: flex;
    justify-content: center;
    gap: 190px;
}
.levelfour_third > img {
    display: flex;
    padding: 10px;
    gap: 10px;
}
.levelfour_fourth {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 104px;
}
.levelfourth_textfirst {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4A4A4E;
    padding-right: 10px;
    gap: 12px;
}
.levelfourth_textfirst > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_textfirst > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}
.levelfourth_text {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4A4A4E;
    padding-left: 10px;
    padding-right: 10px;
    gap: 12px;
}
.levelfourth_text > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_text > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}
.levelfourth_textlast {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.levelfourth_textlast > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_textlast > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}