* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #040405;
}
#heading {
    padding: 16px 200px;
    display: flex;
    border-bottom: 1px solid #003004;
    margin-bottom: 112px;
    justify-content: center;
}
.forc {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#naving > a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}
#naving {
    display: flex;
    gap: 16px;
}
#button {
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    color: #000;
    border-radius: 24px;
    background-color: #00FF1A;
}
.levelone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 151px;
    margin-bottom: 112px;
}
.levelone_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    max-width: 564px;
    width: 100%;
}
.levelone_first {
    display: flex;
    align-items: center;
    gap: 12px;
}
.levelone_first > p {
    color: #FFF;
    font-size: 16px;
}
.levelone_earn > p {
    font-size: 72px;
    color: #FFF;
}
.levelone_deposit {
    color: #7A7A7A;
    font-size: 20px;
}
.levelone_buttons {
    display: flex;
    gap: 16px;
}
#stake {
    max-width: 132px;
    width:100%;
    padding: 12px 24px;
    border-radius: 24px;
    background: #00FF1A;
    gap: 10px;
    color: #000;
    font-size: 16px;
}
#howit {
    max-width: 150px;
    width: 100%;
    padding: 12px 24px;
    background-color: #000;
    border: 1px solid #00FF1A;
    color: #FFF;
    font-size: 16px;
    border-radius: 24px;
    gap: 10px;
}
.leveltwo {
    max-width: 815px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    border-top: 1px solid #00FF1A;
}
.smols > h3 {
    color: #FFF;
    font-size: 32px;
}
.smols > p {
    color: #7A7A7A;
    font-size: 20px;
}
.forcc {
    max-width: 1040px;
    width: 100%;
    margin-bottom: 112px;
}

#fullbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.levelthree {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 112px;
}
.levelthree_img {
    display: flex;
    order: -1;
}
.levelthree_right {
    max-width: 567px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.withdrawalsdiv {
    display: flex;
    gap: 16px;
}
.withdrawalstext {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.withdrawalstext > h3 {
    color: #FFF;
    font-size: 32px;
}
.withdrawalstext > p {
    color: #7A7A7A;
    font-size: 16px;
}
.rectangle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.levelfour {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
    gap: 32px;
}
.levelfour_first {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.levelfour_first > p {
    font-size: 16px;
    color: #FFF;
}
.levelfour_second {
    display: flex;
    justify-content: center;
}
.levelfour_second > h3 {
    font-size: 72px;
    color: #FFF;
}
.levelfour_third {
    display: flex;
    justify-content: center;
    gap: 190px;
}
.levelfour_third > img {
    display: flex;
    padding: 10px;
    gap: 10px;
}
.levelfour_fourth {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 104px;
}
.levelfourth_textfirst {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4A4A4E;
    padding-right: 10px;
    gap: 12px;
}
.levelfourth_textfirst > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_textfirst > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}
.levelfourth_text {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4A4A4E;
    padding-left: 10px;
    padding-right: 10px;
    gap: 12px;
}
.levelfourth_text > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_text > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}
.levelfourth_textlast {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.levelfourth_textlast > h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}
.levelfourth_textlast > p {
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
}
.levelfive {
    display: flex;
    max-width: 1040px;
    width: 100%;
    gap: 22px;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.lps {
    display: flex;
    flex-direction: column;
    max-width: 509px;
    width: 100%;
}
.five_one {
    display: flex;
    gap: 12px;
}
.five_one > p {
    font-size: 16px;
    color: #FFF;
}
.five_two > h3 {
    font-size: 72px;
    color: #FFF;
}
.five_three > p {
    color: #7A7A7A;
    font-size: 20px;
}
.lps {
    display: flex;
    flex-direction: column;
}
.five_four {
    padding: 0px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 2px solid #00FF1A;
}
.five_four > h4 {
    color: #FFF;
    font-size: 24px;
}
.five_four > p {
    color: #7A7A7A;
    font-size: 16px;
}
.five_five {
    padding: 0px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 2px solid #4A4A4E;
}
.five_five > h4 {
    color: #FFF;
    font-size: 24px;
}
.five_five > p {
    color: #7A7A7A;
    font-size: 16px;
}
.five_pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lastbox {
    max-width: 1040px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.top_left {
    max-width: 624px;
    width: 100%;
    padding: 24px 32px;
    background: #1C1C20;
    display: flex;
}
.testimonials {
    display: flex;
    gap: 12px;
    padding-bottom: 12px;;
}
.testimonials > p {
    color: #FFF;
    font-size: 16px;
}
.pic_one {
    border-radius: 50px;
    display: flex;
    align-self: flex-start;
    padding-right: 16px;
    flex-direction: column;
}
.line_one {
    display: flex;
    gap: 13px;
}
.line_one > p {
    color: #FFF;
    font-size: 16px;
}
#spani {
    color: #7A7A7A;
    font-size: 14px;
}
.line_one > span {
    color: #7A7A7A;
    font-size: 14px;
}
.starts {
    display: flex;
    gap: 2px;
    align-items: center;
}
.box_one_text {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    gap: 12px;
}
.line_two > h3 {
    color: #FFF;
    font-size: 20px;
}
.line_three > p {
    color: #B7B7B7;
    font-size: 22px;
}
#green {
    color: #00FF1A;
}
.prchxilebi_two {
    display: flex;
    align-self: flex-end;
}
.last_divv {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.arrow_left {
    border-radius: 50px;
    background: #F8F8F8;
}
.forarrows {
    display: flex;
    flex-direction: column;
}