* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #040405;
}
#heading {
    padding: 16px 200px;
    display: flex;
    border-bottom: 1px solid #003004;
    margin-bottom: 112px;
    justify-content: center;
}
.forc {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#naving > a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}
#naving {
    display: flex;
    gap: 16px;
}
#button {
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    color: #000;
    border-radius: 24px;
    background-color: #00FF1A;
}
.levelone {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linediv > p {
    color: #FFF;
    font-size: 16px;
}
.linediv > img {
    height: 1px;
}
.linediv {
    display: flex;
    gap: 12px;
    justify-content: center;
}
h2 {
    color: #FFF;
    font-size: 72px;
}
#stake {
    max-width: 132px;
    width:100%;
    padding: 12px 24px;
    border-radius: 24px;
    background: #00FF1A;
    gap: 10px;
    color: #000;
    font-size: 16px;
}
#howit {
    max-width: 150px;
    width: 100%;
    padding: 12px 24px;
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    border-radius: 24px;
    gap: 10px;
}
#levelone {
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: center;
}
.forcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}